/*这是头开始*/
header{
    /*background: #949494;*/
    margin-bottom: -20px;
}
.navbar-inverse {
    background: #4b4b4b;
    border: none;
    border-radius: 0px;
}


header .navbar-inverse .container ul li a{
    color: white;
    font-size: 1.1em;
}

header .navbar-inverse .container ul li a:hover{
    color: #cbcbcb;
}

/*这是头结束*/

/*这是主体开始*/
section{
    width: 100%;
    background-image: url("../images/haibian3.jpg");
    background-size: cover;
}
section .container{
    height: 600px;
    /*background: #d0d0d0;*/
}

.section1{
    width: 750px;
    height: 330px;
    margin: 60px auto;
    border: solid 1px grey;
    background: rgba(78, 78, 78, 0.53);
}

.section1 .top{
    width: 100%;
    height: 45px;
    /*background: greenyellow;*/
    color: white;
    line-height: 45px;
    /*padding-left: 10px;*/
    box-sizing: border-box;
    font-size: 1.3em;
    text-align: center;
}
/*.seperator{*/
    /*width: 80%;*/
    /*height: 1px;*/
    /*background: grey;*/
    /*margin: 0 auto;*/
/*}*/
.section1 .main table{
    width: 100%;
    height: 285px;
    border: none;
}

.section1 .main table .col-1{
    width: 35%;
    text-align: right;
    font-size: 1.3em;
    color: white;
    padding-right: 20px;
}

.section1 .main table .text{
    width: 400px;
    height: 30px;
    border-radius: 3px;
    border: solid 1px #c8c8c8;
    outline: none;
}
.section1 .main table .btn-regist{
    width: 200px;
    height: 40px;
    border: solid 1px #c8c8c8;
    outline: none;
    background: green;
    color: white;
    text-align: center;
}


.section1 .main table div[id$='error']{
    color: red;
    font-size: 0.7em;
    height: 1em;
}


.foot-icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: black;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

/*这是主体结束*/

/*这是footer开始*/
footer{
    width: 100%;
    height: 150px;
    background: #4b4b4b;
    box-sizing: border-box;
}

footer .container{
    height: 150px;
    /*background: gainsboro;*/
    box-sizing: border-box;
}

footer .container .row{
    box-sizing: border-box;
}

footer .container .row .col-lg-4{
    height: 150px;
    background:#4b4b4b ;
}


footer .container .row .col-lg-4:first-child{
     text-align: center;
     line-height: 150px;

}

footer .container .row .second_child{
    text-align: center;
    line-height: 150px;
    color: white;
    font-size: 1.1em;
}


footer .container .row .col-lg-4:last-child{
    text-align: center;
    line-height: 150px;
    color: white;
    font-size: 1.1em;
}

footer .container .row .col-lg-4:last-child img{
    width: 100px;
}


/*这是footer结束*/
