body,ul,li{
    margin: 0;
    padding: 0;
    list-style: none;

}
/*-------header------------*/
.navbar-inverse {
    background: #505050;
    border: none;
    border-radius: 0px;
}
.navbar-header .navbar-brand img{
    width: 120px;
    /*height: 100%;*/
    position: relative;
    top: -12px;
}
.search_img{
    position: relative;
    left: -30px;
}

#nav01 a{
    font-size: 1.1em;
    color: white;
}

#nav01 a:hover{
    color: #cbcbcb;
}

.nav_list{
    width: 100px;
    height: 80px;
    position: absolute;
    left: 100%;
    margin-left: -90px;
    top: 50px;
}
.nav_list div{
    width: 100%;
    height: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    background: #666666;
    display: block;
}
.hidden{
    display: none;
}
.nav_list a{
    text-decoration: none;
    color: #FFD9D8;
}
/*---------------------------------------------------*/

a{
    text-decoration: none !important;
}
.content{
    margin-top: 30px;
}
.left{
    width: 68%;
    /*height: 1000px;*/
    padding-right: 45px;
    float: left;
    border-right: 1px solid #e8e8e8;
    overflow: hidden;
    /*background: yellow;*/

}
.left .header{
    border-bottom: 1px solid #eee;
    padding: 7px 0 11px 18px;
}


.left .header h3{
    float: left;
    border: none;
}
.left .header span{
    font-size: 18px;
    color: #333;
}
.left .svg{
    float: right;
}
.left .svg a{
    font-size: 14px;
    color: #666;
}
.left .svg .share{
    margin-top: -5px;
}
.left .svg .home{
    margin-top: -5px;
}
.left .left_middle1{
    border-bottom: 1px solid #eee;
    padding: 21px 0 20px 18px;
    /*font-size: 14px;*/
    color: #666;
}
.left .left_middle1 a{
    color: #1abc9c;

}
.left .left_middle2{
    border-bottom: 1px solid #eee;
    padding: 21px 0 20px 18px;
    color: #666;
    overflow: hidden;
}
.left .left_middle2 span{
    float: left;
    margin-top: 5px;
}
.left .left_middle2 .left_middle2_icon{
    float: left;

}
.left .left_middle2 a{
    margin: 0 6px;
    color: #1abc9c;
}

/*---------------内容样式开始-------------*/
/*---------------评论开始-------------*/
.left_content{
    margin-top: 20px;
}
.content_comment{
    border-bottom: 1px solid #eee;
    padding: 30px 0 30px 18px;
    overflow: hidden;
}
.content_comment .comment_a{
    float: left;
    margin: 3px 20px 0 0;
}
.content_comment .comment_a img{
    width: 50px;
    height: 50px;
}
.content_comment .comment_info{
    float: left;
    overflow: hidden;
}
.content_comment .comment_info .comment_title{
    color: #1abc9c;
}
.content_comment .comment_info .comment_user{
    margin-bottom: 15px;
    overflow: hidden;
}
.content_comment .comment_info .comment_area{
    margin-top: 25px;
}
.content_comment .comment_info .comment_area .xiamen{
    color: #666;
}
.content_comment .comment_info .comment_area span{
    font-size: 14px;
    color: #999;
}
.content_comment .comment_info .comment_user .user{
    padding-right: 10px;
    color: #666;
    font-size: 16px;
}
.content_comment .comment_info .comment_user .type{
    font-size: 14px;
    color: #999;

}
.content_comment .comment_img{
    float: right;
    margin-top: 40px;
    overflow: hidden;
}
.content_comment .comment_img img{
    width: 160px;

}

/*_________喜欢____________*/
.content_love{
    border-bottom: 1px solid #eee;
    padding: 30px 0 30px 18px;
    overflow: hidden;
}

.content_love .love_a{
    float: left;
    margin: 3px 20px 0 0;
}
.content_love .love_a img{
    width: 50px;
    height: 50px;
}
.content_love .love_info{
    float: left;
    overflow: hidden;
}
.content_love .love_info .love_title{
    color: #1abc9c;
}
.content_love .love_info .love_user{
    margin-bottom: 15px;
    overflow: hidden;
}
.content_love .love_info .love_area{
    margin-top: 25px;
}
.content_love .love_info .love_area .xiamen{
    color: #666;
}
.content_love .love_info .love_area span{
    font-size: 14px;
    color: #999;
}
.content_love .love_info .love_user .user{
    padding-right: 10px;
    color: #666;
    font-size: 16px;
}
.content_love .love_info .love_user .type{
    font-size: 14px;
    color: #999;

}
.content_love .love_img{
    float: right;
    margin-top: 40px;
    overflow: hidden;
}
.content_love .love_img img{
    width: 160px;
}

/*_________dianzan____________*/



.content_dianzan{
    border-bottom: 1px solid #eee;
    padding: 30px 0 30px 18px;
    overflow: hidden;
}

.content_dianzan .dianzan_a{
    float: left;
    margin: 3px 20px 0 0;
}
.content_dianzan .dianzan_a img{
    width: 50px;
    height: 50px;
}
.content_dianzan .dianzan_info{
    float: left;
    overflow: hidden;
}
.content_dianzan .dianzan_info .dianzan_title{
    color: #1abc9c;
}
.content_dianzan .dianzan_info .dianzan_user{
    margin-bottom: 15px;
    overflow: hidden;
}
.content_dianzan .dianzan_info .dianzan_area{
    margin-top: 25px;
}
.content_dianzan .dianzan_info .dianzan_area .xiamen{
    color: #666;
}
.content_dianzan .dianzan_info .dianzan_area span{
    font-size: 14px;
    color: #999;
}
.content_dianzan .dianzan_info .dianzan_user .user{
    padding-right: 10px;
    color: #666;
    font-size: 16px;
}
.content_dianzan .dianzan_info .dianzan_user .type{
    font-size: 14px;
    color: #999;

}
.content_dianzan .dianzan_img{
    float: right;
    margin-top: 40px;
    overflow: hidden;
}
.content_dianzan .dianzan_img img{
    width: 160px;
}



/*_________share____________*/

.content_share{
    border-bottom: 1px solid #eee;
    padding: 30px 0 30px 18px;
    overflow: hidden;
}
.content_share .share_a{
    float: left;
    margin: 3px 20px 0 0;
}

.content_share .share_a img{
    width: 50px;
    height: 50px;
}
.content_share .share_info{
    float: left;
    overflow: hidden;
}
.content_share .share_info .share_user{
    margin-bottom: 15px;
    overflow: hidden;
}

.content_share .share_info .share_area{
    margin-top: 25px;
}
.content_share .share_info .share_area .xiamen{
    color: #666;
}
.content_share .share_info .share_area span{
    font-size: 14px;
    color: #999;
}

.content_share .share_info .v_user .user{
    padding-right: 10px;
    color: #666;
    font-size: 16px;
}
.content_share .share_info .share_user .type{
    font-size: 14px;
    color: #999;

}
.content_share .share_info .share_img{
    margin-bottom: 20px;
}
.content_share .share_info .share_img img {
    width: 100px;
    height: 100px;
    margin-right: 14px;
}

/*-------------right--------------------*/

.right{
    width: 30%;
    /*height: 1000px;*/
    padding-left: 45px;
    float: left;
    /*background-color: #00b3ee;*/
}
.right_top{
    width: 100%;
    height: 100px;
    /*background-color: green;*/
    border-bottom: 1px solid #eee;
    margin-bottom: 30px;

}
.right_top h4 {
    font-size: 18px;
    color: #333;
    margin-bottom:20px;

}
.right_now{
    width: 100%;
    /*height: 600px;*/
    overflow: hidden;
    /*background-color: yellow;*/
}
.right_now .now_li{
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
    box-sizing: border-box;
    margin-top: 20px;
    overflow: hidden;

}
.now_li span{
    padding: 0px 5px;
    color: #999;
    font-size: 12px;
}
.now_li a{
    color: #666;

}
.right_now .now_a{
    float: left;
    margin-right: 20px;
    box-sizing: border-box;
    overflow: hidden;
}
.right_now .now_title{
    /*padding: 10px 0;*/
    box-sizing: border-box;
    float: left;
    margin-top: 10px;

}
.right_now .now_title a{
    font-size: 14px;
    color: #666;
}
.right_now .now_a img{
    width: 30px;
    height: 30px;
}


/*-------------right_recommend--------------------*/
.right_recommend{
    width: 100%;
    /*height: 500px;*/
    /*background-color: green;*/
    border-bottom: 1px solid #eee;
    margin-bottom: 30px;
    margin-top: 20px;
    overflow: hidden;
}
.right_recommend .user_recommend{
    width: 100%;
    overflow: hidden;
}
.right_recommend .user_recommend h4{
    float: left;
    font-size: 18px;
    color: #333;
    margin-bottom: 25px;
}
.right_recommend .user_recommend .more{
    float: right;
    margin-top: 8px;
}
.right_recommend .user_recommend .more a {
    color: #1abc9c;
    font-size: 16px;
}
.right_recommend .user_info{
    overflow: hidden;
    margin-bottom: 20px;
}
.right_recommend .article{
    display: block;
    line-height: 28px;
    color: #666;
    margin-top: 20px;
    font-size: 13px;
}
.right_recommend .article1{
    font-size: 13px;
    line-height: 28px;
    color: #666;
    margin-bottom: 20px;

}
.right_recommend .user_info img{
    float: left;
    width: 80px;
    height: 80px;
    margin-right: 20px;
}
.right_recommend .user_info .user_focus{
    float: left;

}
.right_recommend .user_info .user_focus a{
    font-size: 16px;

    color: #333;
}
.right_recommend .user_info .focus{
    width: 100px;
    height: 34px;
    background: #28c0a2;
    font-size: 14px;
    line-height: 34px;
    color: #fff !important;
    text-align: center;
    /*border: none;*/
    border-radius: 5px;
    display: block;
    margin-top: 15px;
}

/*--------------right_destination-----------*/

.right_destination{
    width: 100%;
    /*height: 500px;*/
    border-bottom: 1px solid #eee;
    padding-bottom: 25px;
    margin-bottom: 30px;
    overflow: hidden;
}

.right_destination img{
    width: 247px;
    height: 185px;
}
.right_destination a{
    display: block;
    font-size: 14px;
    color: #1abc9c;
    margin: 25px 0 20px 0;
}
.right_destination .about{
    width: 247px;
    line-height: 28px;
    font-size: 12px;
    color: #666;
    margin-top: 10px;
}
.right_contact a{
    color: #333;
}

.right_contact .wechat{
    margin-bottom: 20px;
    overflow: hidden;
}
.right_contact .blog{
    margin-bottom: 20px;
}
.right_contact .mail{
    margin-bottom: 20px;
}

/*这是footer开始*/
footer {
    width: 100%;
    height: 150px;
    background: #4b4b4b;
    box-sizing: border-box;
}

.footer_none{
    display: none !important;
}

footer .container {
    height: 150px;
    /*background: gainsboro;*/
    box-sizing: border-box;
}

footer .container .row {
    box-sizing: border-box;
}

footer .container .row .col-lg-4 {
    height: 150px;
    background: #4b4b4b;
}

footer .container .row .col-lg-4:first-child {
    text-align: center;
    line-height: 150px;

}

footer .container .row .second_child {
    text-align: center;
    line-height: 150px;
    color: white;
    font-size: 1.1em;
}

footer .container .row .col-lg-4:last-child {
    text-align: center;
    line-height: 150px;
    color: white;
    font-size: 1.1em;
}

footer .container .row .col-lg-4:last-child img {
    width: 100px;
}

