body,a{
    margin: 0;
    padding: 0;
    font-size: 12px;
    text-decoration: none;
}
/*-----------模态框-----------*/
#mask {
    display: none;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 99;
}
.mode1_box{
    z-index: 100;
    width: 330px;
    height: 390px;
    background: white;
    position: absolute;
    top: 300px;
    left: 306px;
    border: 2px solid #666666;
    border-radius: 6px;
    box-shadow: #666666;
    display: none;
}
.mode1_box :first-child{
    width: 35px;
    height: 35px;
    margin: 15px;
}
.mode1_box :nth-child(2){
    font-size: 20px;
    position: relative;
    top: -65px;
    left: 60px;
}
.mode1_box :nth-child(5){
    font-size: 24px;
    color: white;
    background: #1abc9c;
    width: 120px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 5px;
    position: relative;
    top: -30px;
    left: 105px;
    cursor: pointer;
}
.mode1_box:after{
    content: '';
    position: absolute;
    top: 10%;
    /*left: 105%;*/
    right: 5%;
    background: #999999;
    height: 1px;
    width: 90%;
}
.impress{
    position: relative;
    left: 40px;
    top: -30px;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}
.close_box{
    float: right;
    position: relative;
    top: -130px;
    left: -3px;
    background: rgba(153, 153, 153, 0.44);
}

.tour_impress{
    width: 75%;
    margin: auto;
    margin-top: 20px;
}



/*-----------------------------------------------------*/
.share_holder{
    width: 100%;
    height: 600px;
    /*background-color: #F0F0F0;*/
    overflow: hidden;
    /*display: none;*/
}

.step{
    width: 704px;
    height: 353px;
    padding-top: 43px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    /*background-color:red;*/
    position: relative;
    margin:0 auto;
    margin-top: 120px;
}
.left{
    float: left;
    width: 324px;
    height: 260px;
    margin-left: 35px;
    border-right: 1px solid #eee;
    position: relative;
    z-index: 1;
}
.left span{
    position: relative;
    top: -25px;
    left: 18px;
    color: red;
    display: inline-block;
    height: 10px;
}
.right{
    float: left;
    width: 274px;
    margin: 30px 0 0 15px;
    color: #666;
    text-align: center;
    /*background-color: yellow;*/
}
.left h2{
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 25px;
}
.left .input1 {
    border: 1px solid #d9d7d7;
    border-radius: 5px;
    color: #999;
    width: 260px;
    padding: 15px;
    margin-bottom: 35px;
    position: relative;
}
.left .input1 input{
    border: none;
    outline: none;
    border-radius: 0px;
    padding-left: 5px;
    font-size: 12px;
    width: 188px;
    /*height: 16px;*/
}
.nextstep{
    display: block;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 55px;
    padding-top: 15px;
    background-color: #1abc9c;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    color: #fff;
    font-size: 20px;
    text-align: center;
}
.nextstep:hover{
    background-color: rgba(26, 188, 156, 0.85);

}
.ct{
    position: relative;
    font-size: 24px;
    height: 38px;
    line-height: 38px;
}
.arrow{
    position: absolute;
    display: inline-block;
    background: url(../images/ico_common.png) no-repeat -42px -142px;
    width: 28px;
    height: 28px;
    margin-left: 15px;
    top: 8px;
}
.foot{
    height: 70px;
    background-color: #3a3838;
    /*border-top: 1px solid #232323;*/
    position: fixed;
    right: 0px;
    bottom: 0px;
    width: 100%;
}
.upload{
    width: 100%;
    /*display: flex;*/
    display: none;
}
.upload_left{
    width: 18%;
    height: 800px;
    background: #f8f8f8;
    /*text-align: center;*/
    position: relative;
    float: left;
    border-right: 1px solid #DAEFE9;
}
.upload_left :nth-child(2){
    font-size: 18px;
    margin-left: 80px;
}
.upload_left:after{
    content: '';
    position: absolute;
    top: 30%;
    /*left: 105%;*/
    right: 10%;
    background: #999999;
    height: 1px;
    width: 80%;
}
.frist_img{
    width: 60%;
    height: 80px;
    margin-left: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.upload_left a{
    text-decoration: none;
    font-size: 18px;
    width: 50%;
    display: inline-block;
    text-align: center;
    line-height: 60px;
    height: 60px;
    background: #1ABC9C;
    color: white;
    margin-left: 25%;
}
.upload_left a:hover{
    background: rgba(26, 188, 156, 0.8);

}
.upload_left a img{
    width: 25px;
    height: 25px;
    position: relative;
    top: 6px;
}
input[type="date"]::-webkit-inner-spin-button { visibility: hidden; }
input[type="date"]::-webkit-calendar-picker-indicator {
    width: 25px;height: 60%; color: #1abc9c}
input[type="date"]::-webkit-datetime-edit-year-field{font-size: 18px}
.upload_left input[type="date"]{
    height: 40px;
    margin-left: 80px;
    outline: none;
}


.input_place{
    width: 200px;
    height: 40px;
    outline: none;
    border-radius: 5px;

}
.add_place{
    width: 275px;
    height: 60px;
    /*background: rgba(0, 103, 184, 0.34);*/
    position: absolute;
    top: 295px;
    left: 20px;
    display: none;
}
.add_place_name{
    width: 210px;
    height: 40px;
    outline: none;
}
.add_place span{
    display: inline-block;
    background: #1abc9c;
    color: white;
    font-size: 18px;
    width: 50px;
    height: 44px;
    text-align: center;
    line-height: 40px;
    position: relative;
    /*top: -6px;*/
    left: -5px;
}
.add_place span:hover{
    background: rgba(26, 188, 156, 0.8);

}
.list_place{
    width: 80%;
    /*min-width: 200px;*/
    height: 55px;
    /*border: 1px solid red;*/
    margin: 20px auto;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    /*justify-content: space-around;*/
}
.place_name{
    width: 30%;
    height: 32px;
    text-align: center;
    line-height: 35px;
    border: black 1px solid;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left: 5px;
    /*position: absolute;*/
}
.place_name span{
    display: block;
    /*font-size: 14px;*/
}
.article_mode01{
    text-align: center;
    margin-top: 40px;
}
.mode01{
    margin-left: 6px !important;
}





.upload_right{
    width: 78%;
    /*height: 800px;*/
    /*border: 1px red solid;*/
    float: right;

    display: flex;
    flex-wrap: wrap;
    padding-left: 50px;
}
.upload_picture{
    width: 500px;
    height: 400px;
    position: absolute;
    top: 50%;
    margin-top: -200px;
    left: 50%;
    margin-left: -150px;
    /*background: rgba(255, 56, 51, 0.08);*/
}
.upload_picture :first-child{
    margin-left: 110px;
    margin-bottom: 50px;
}
.photo{
    width: 14%;
    height: 240px;
    /*border: 1px solid blue;*/
    margin: 30px;
}

.foot div{
    width: 300px;
    height: 100%;
    margin: auto;
}
#add_btn{
    width: 200px;
    height: 70%;
    margin-top: 10px;
    border: none;
    outline: none;
    background: #414242;
    color: whitesmoke;
    font-size: 20px;
    box-shadow: 2px 2px 2px 2px #1A1A1A;
}

#add_btn:hover{
    background: rgba(117, 118, 118, 0.4);

}
.div_add{
    display: none;
}
.foot a{
    display: inline-block;
    background: #1ABC9C;
    color: whitesmoke;
    margin-left: 10px;
    width: 80px;
    height: 40px;
    position: relative;
    top: -2px;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    /*font-weight: bold;*/
}
.photo img{
    width: 100%;
    height: 100%;
}





