boby,ul,li{
    margin: 0;
    padding: 0;
}
ul,li{
    list-style: none;
}
#mask {
    display: none;
    /*background: rgba(0, 0, 0, 0.3);*/
    width: 100%;
    height: 100%;
    position: fixed;
}
.login_box{
    z-index: 100;
    width: 330px;
    height: 430px;
    background: white;
    position: absolute;
    top: 150px;
    left: 50%;
    margin-left: -180px;
    display: none;
}
.box_top{
    height: 100px;
    text-align: center;
    line-height: 100px;
    /*border-bottom: 1px solid #666666;*/
    /*background: beige;*/
}
.close_box{
    float: right;
    top: 50px;
    /*background: gray;*/

}

.box_mid{
    text-align: center;
    /*line-height: 120px;*/
}
.box_mid input[type='text']{
    width: 80%;
    height: 40px;
    border-radius: 5px;
    outline: none;
    margin: 20px;
    font-size: 16px;
}
.error_info{
    width: 80%;
    height: 30px;
    /*background: red;*/
    margin: auto;
    line-height: 30px;
    color: red;
    font-size: 12px;
}
.box_mid input[type='password']{
    width: 80%;
    height: 40px;
    border-radius: 5px;
    outline: none;
    /*margin-bottom: 20px;*/
    font-size: 16px;
}
input[type="checkbox"]{
    display: inline-block;
    /*vertical-align: middle;*/
    width: 20px;
    height: 20px;
    position: relative;
    top: 6px;
}
.login_btn{
    width: 80%;
    height: 35px;
    line-height: 35px;
    /*background: red;*/
    margin: auto;
    text-align: left;
}
.login_btn .btn{
    width: 35%;
    float: right;
    outline: none;
    font-size: 18px;
}
.login_box p{
    text-align: center;
    margin: 20px auto;
}
.login_foot{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
/*这是头开始*/
/*-------header------------*/
.navbar-inverse {
    background: #505050;
    border: none;
    border-radius: 0px;
}
.navbar-header .navbar-brand img{
    width: 120px;
    /*height: 100%;*/
    position: relative;
    top: -12px;
}
.search_img{
    position: relative;
    left: -30px;
}

#nav01 a{
    font-size: 1.1em;
    color: white;
}

#nav01 a:hover{
    color: #cbcbcb;
}

.nav_list{
    width: 100px;
    height: 80px;
    position: absolute;
    left: 100%;
    margin-left: -90px;
    top: 50px;
}
.nav_list div{
    width: 100%;
    height: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    background: #666666;
    display: block;
}
.hidden{
    display: none;
}
.nav_list a{
    text-decoration: none;
    color: #FFD9D8;
}

/*这是头结束*/

/*这是主体开始*/
section{
    width: 100%;
    /*background: #26b245;*/
}
section .container{
    /*height: 600px;*/
    /*background: #d0d0d0;*/
}
.container .top{
    /*margin-right: 30px;*/
    width: 100%;
    margin-top: 40px;
    padding-bottom: 50px;
    /*height: 500px;*/
    /*background: #26b245;*/
    overflow: hidden;
    /*float: left;*/

}
.top .top_left {
    width: 70%;
    /*height: 320px;*/
    /*background-color: yellow;*/
    /*background-image: url("../images/logo1.jpg");*/
    float: left;
    /*overflow: hidden*/

}
.top .top_left img{
    width:100%;
    /*height: 320px;*/
    /*background-position: center;*/
    /*background-size: cover;*/
}

.top .top_right{
    width:30%;
    /*height: 320px;*/
    /*background-color: green;*/
    float: right;
    padding: 0px 0px 0px 30px;
    /*overflow: hidden*/
    /*margin-left: 10px;*/
}
.top .top_right .right01{
    font-size: 24px;
    padding-top: 3px;
    text-align: left;
}

.top .top_right .right02 {
    /*height: 105px;*/
    color: #666;
    font-size: 13px;
    padding: 10px 0px 20px 3px;
}
.top .top_right .right05 p{
    font-size: 14px;
}
/*.top .top_right .right03 p{*/
/*width: 80px;*/

.top .top_right .right03{
    padding: 170px 0 15px 5px;
}
.top .top_right .right03 p {
    font-size: 15px;
    color: #333;
}
/*padding: 0 0 20px 5px;*/
/*width: 80px;*/
/*}*/
/*.top .top_right .right04{*/

/*}*/
.top .top_right .right04{
    width: 85%;

}
.top .top_right .right04 a{
    position: relative;
    display: block;
    background-color: #f6f6f6;
    /*width: 245px;*/
    height: 45px;
    border: 1px solid #eee;
    border-radius: 6px;
    /*margin-top: 35px;*/
    /*background-color: yellow;*/
}
.top .top_right .right04 img{
    display: inline-block;
    /*width: 35px;*/
    height: 28px;
    position: absolute;
    top: 8px;
    left: 40px;
}
.top .top_right .right04 .text {
    font-size: 14px;
    color: #929191;
    letter-spacing: 1px;
    position: absolute;
    top: 12px;
    left: 85px;
}

/*这是主体结束*/

/*这是line开始*/
.container .line{
    width: 100%;
    border-bottom: 5px solid #f0f0f0;
}
/*这是line结束*/


/*这是middle01开始*/
.middle01 {
    width: 100%;
    /*height: 500px;*/
    /*background-color: #555555;*/
    margin-top: 40px;
    /*padding-bottom: 50px;*/
    overflow: hidden;

}
.middle01_left {
    width: 70%;
    /*height: 1500px;*/
    /*background-color: yellow;*/
    float: left;

}
.middle01_left .middle01_leftup{
    float: left;
}
.move{
    transform: translateY(-30px);
    transition-duration:1s;
    transition-timing-function: cubic-bezier(0.25,0.1,0.25,1);
}
.middle01_left a{
    color: #666;
    text-decoration: none;
}
.middle01_left .middle01_leftup .first_img{
    float: left;
    margin: 0 20px 10px 0;
    border-bottom: 1px solid #edebeb;
    position: relative;
}
.middle01_left .middle01_leftup .first_img h3{
    font-size: 14px;
    padding: 10px 0px 14px 5px;
    background: #fff;
    position: relative;
    z-index: 2;
    color: #333;
    top:0px;
}
.middle01_left .middle01_leftup .first_img .about {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    color: #a4a3a3;
    padding: 0px 0px 10px 5px;
}
.middle01_left .middle01_leftup .first_img h3:hover{
    top:-30px;
}
.middle01_left .middle01_leftdown {
    /*width: 70%;*/
    width: 100%;
    /*height: 500px;*/
    margin-top: 40px;
    padding-bottom: 30px;
    overflow: hidden;
}
.middle01_left .middle01_leftdown .first_img{
    float: left;
    margin: 5px 20px 16px 0;
    border-bottom: 1px solid #edebeb;
    position: relative;
}
.middle01_left .middle01_leftdown .first_img h3{
    font-size: 14px;
    padding: 10px 0px 14px 5px;
    background: #fff;
    position: relative;
    z-index: 2;
    color: #333;
    top:0px;
}
.middle01_left .middle01_leftdown .first_img .about {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    color: #a4a3a3;
    padding: 0px 0px 10px 5px;
}


/*这是middle01_right开始*/
.middle01_right{
    width:30%;
    /*height:1500px;*/
    float: left;
    padding: 0px 0px 0px 30px;
    /*background-color:green;*/
}
.middle01_right .middle01_rightup{
    width:100%;
    padding: 10px 0;
    /*height: 430px;*/
    /*background-color:green;*/
}
.middle01_right .middle01_rightup h3{
    font-size: 18px;
    color: #1abc9c;
    margin-bottom: 30px;
}
.middle01_right .middle01_rightup ul{
    text-align: left;

}
.middle01_right .middle01_rightup ul li{
    border-bottom: 1px solid #eee;
    /*padding-left: 40px;*/
    margin-bottom: 20px;
    overflow: hidden;
    text-align: left;
}
.middle01_right .middle01_rightdown{
    width:100%;
    /*height: 300px;*/
    margin-top: 30px;
    margin-left: -15px;
    /*background-color:yellow;*/
}
.weixin{
    width: 100%;
    /*height: 100px;*/
    /*background-color:green;*/
    border-bottom: solid 1px #eee;
    overflow: hidden;
    padding: 15px 0;

}
.middle01_right .middle01_rightdown img{
    float: left;
    margin-right: 20px;
}
.middle01_right .middle01_rightdown .aite{
    float: left;
    margin-top: 15px;
}
.middle01_right .middle01_rightdown .aite .smallblog{


}
.middle01_right .middle01_rightdown .aite .smallweixin{

}
.appstore{
    width: 100%;
    /*height: 200px;*/
    margin-top: 10px;
    overflow: hidden;
    /*background-color: #00b3ee;*/
}
.appstore img{
    margin-top: 20px;
}
/*这是middle01_right结束*/
/*这是middle01结束*/



/*这是middle02开始*/
.middle02{
    width: 100%;
    /*height: 800px;*/
    background-color: #f8f8f8;
    margin-bottom: 50px;
    padding: 40px 0;
    overflow: hidden;
}

.middle02 .middle02_left{
    width: 70%;
    /*height: 800px;*/
    /*background: yellow;*/
    float: left;
    color: #666;
}
.middle02 .middle02_left h3{
    margin-top: 10px;
}
.middle02 .middle02_left a{
    text-decoration: none;
    color: #494949;
    /*margin-bottom: 5px;*/
}
.middle02 .middle02_left p{
    width: 92%;
    margin-top: 15px;
}
.middle02 .middle02_left img{
    margin-top: 30px;
    position: relative;
    border: 5px solid #eeeded;
    overflow: hidden;
}
.middle02 .middle02_right{
    width: 30%;
    /*height: 800px;*/
    /*background: green;*/
    float: left;
}
.middle02 .middle02_right h3{
    font-size: 16px;
    color: #1abc9c;
    margin-bottom: 30px;
}
.middle02 .middle02_right ul li{
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 11px;
    margin-bottom: 14px;
    font-size: 12px;

}
.middle02 .middle02_right ul a{
    color: #444;
}
.middle02 .middle02_right .hangzhou {
    /*width: 100%;*/
    text-align: center;
    margin: 40px 0 0 -100px;
    /*margin-top: 40px;*/
}
.middle02 .middle02_right .hangzhou h4{
    margin-top: 30px;
}
.middle02 .middle02_right .hangzhou h4 a{
    color: #444;
}

/*这是middle02结束*/



/*这是middle03开始*/
.middle03{
    width: 100%;
    /*height: 1800px;*/
    /*background-color:green;*/
    overflow: hidden;
}
.middle03 .middle03_left{
    width: 70%;
    /*height: 1800px;*/
    /*background: yellow;*/
    float: left;
}
.middle03 .middle03_left .part-left{
    float: left;
    width: 40%;
    margin-right: 67px;
}
.middle03 .middle03_left ul{
    float: left;
    /*width: 340px;*/
    margin-top: 30px;
}


.middle03 .middle03_left .part-left h4 {
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
}
.middle03 .middle03_left .part-left .desc{
    line-height: 26px;
    color: #666;
    margin: 20px 0 23px 0;
}
.middle03 .middle03_left .part-right{
    float: left;
    width: 50%;
    /*height:500px;*/
    /*background-color: blue;*/
}
/*.middle03 .middle03_left .part-right img{*/
    /*float: left;*/
    /*margin-right: 18px;*/

/*}*/
.middle03 .middle03_left .part-right01{
    float: right;
    margin-left: 20px;
}

.middle03 .middle03_left .part-right .partli{
    padding: 15px 0;
}

.middle03 .middle03_right{
    width: 30%;
    /*height: 1800px;*/
    /*background: yellow;*/
    float: left;
}
.middle03 .middle03_right h4{
    /*font-size: 16px;*/
    color: #1abc9c;
    margin-bottom: 30px;
}
.middle03 .middle03_right ul{
    margin-top: 30px;
}
.middle03 .middle03_right ul li{
    border-bottom: 1px solid #eee;
    padding-bottom: 12px;
    margin-bottom: 12px;
}
.middle03 .middle03_right ul li a{
    color: #666;
}
.middle03 .middle03_right h4{
    margin-top: 30px;
}
.middle03 .middle03_right .ul-ing{
    width: 90%;
}
.middle03 .middle03_right .ul-ing a{
    float: left;
    /*width: 50px;*/
    height: 50px;
    margin: 0 16px 16px 0;
}
    /*这是middle03结束*/

/*这是bottom开始*/
.bottom{
    width: 100%;
    /*height: 1000px;*/
    background-color: #f8f8f8;
    padding: 60px 0 50px 0;
    margin-top: 40px;
    overflow: hidden;
}
.bottom .bottom_ul{
    width: 100%;
    /*height:400px;*/
    /*background-color: yellow;*/
}
/*这是bottom结束*/
.bottom .bottom_ul li{
    width:25%;
    /*height: 400px;*/
    /*background-color:white;*/
    float: left;
    border-right: 1px solid #edecec;
    padding: 10px 0px 5px 0px;
}
.bottom .bottom_ul img{
    position: relative;
    margin-left: 85px;
}
.bottom .bottom_ul h3{
    text-align: center;
    color: #333;
    font-size: 20px;
}
.bottom .bottom_ul .area{
    width: 75%;
    /*height: 300px;*/
    margin: 0 auto;
    padding: 0 0 0 8px;
}
.bottom .bottom_ul .area a{
    float: left;
    /*display: inline;*/
    margin: 0px 12px 12px 0px;
    color: #666;
    text-decoration: none;
    /*text-align: center;*/
}

/*这是footer开始*/
footer{
    width: 100%;
    /*height: 200px;*/
    background: #4b4b4b;
}

footer .container{
    height: 160px;
    /*background: gainsboro;*/
}

footer .container .row .col-lg-4{
    height: 160px;
}


footer .container .row .col-lg-4:first-child{
     text-align: center;
     line-height: 160px;
}

footer .container .row .second_child{
    text-align: center;
    line-height: 160px;
    color: white;
    font-size: 1.3em;
}


footer .container .row .col-lg-4:last-child{
    text-align: center;
    line-height: 160px;
    color: white;
    font-size: 1.3em;
}


/*这是footer结束*/
