body,ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}
.rank{
    width: 100%;
    /*height: 600px;*/
    /*background-color: gray;*/
}
.rank_left{
    width:72%;
    /*height: 600px;*/
    /*background-color: yellow;*/
    float: left;
}
/*-------header------------*/
.navbar-inverse {
    background: #505050;
    border: none;
    border-radius: 0px;
}
.navbar-header .navbar-brand img{
    width: 120px;
    /*height: 100%;*/
    position: relative;
    top: -12px;
}
.search_img{
    position: relative;
    left: -30px;
}

#nav01 a{
    font-size: 1.1em;
    color: white;
}

#nav01 a:hover{
    color: #cbcbcb;
}

.nav_list{
    width: 100px;
    height: 80px;
    position: absolute;
    left: 100%;
    margin-left: -90px;
    top: 50px;
}
.nav_list div{
    width: 100%;
    height: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    background: #666666;
    display: block;
}
.hidden{
    display: none;
}
.nav_list a{
    text-decoration: none;
    color: #FFD9D8;
}
/*----------轮播————————*/
.lunbo{
    margin-top: 20px;
    width: 100%;
}
.pc-slide {
    width: 650px;
    margin: 0 auto;
}

.view .swiper-container {
    width: 710px;
    height:400px;
}

.view .arrow-left {
    background: url(../images/lunbo/index_tab1.png) no-repeat left top;
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -25px;
    width: 20px;
    height:36px;
    z-index: 10;
}

.view .arrow-right {
    background: url(../images/lunbo/index_tab2.png) no-repeat left bottom;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -25px;
    width: 20px;
    height: 36px;
    z-index: 10;
}

.preview {
    width: 100%;
    margin-top: 10px;
    position: relative;
    /*text-align: center;*/
}

.preview .swiper-container {
    width: 650px;
    height: 82px;
    margin-left: 35px;
    /*margin: 0 auto;*/
}

.preview .swiper-slide {
    width:100px;
    height: 82px;
}

.preview .slide6 {
    width: 82px;
}

.preview .arrow-left {
    /*background: url(../images/lunbo/feel3.png) no-repeat left top;*/
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -9px;
    width: 9px;
    height: 18px;
    z-index: 10;
}

.preview .arrow-right {
    /*background: url(../images/lunbo/feel4.png) no-repeat left bottom;*/
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -9px;
    width: 9px;
    height: 18px;
    z-index: 10;
}

.preview img {
    padding: 1px;
}

.preview .active-nav img {
    padding: 0;
    border: 1px solid #F00;
}
/*----------轮播结束————————*/
.rank_left .hotrank{
    width: 100%;
    height: 30px;
    /*overflow: hidden;*/
    /*background-color: red;*/
}
.rank_left .lunbo{
    width: 100%;
    /*height: 800px;*/
    /*background-color:gainsboro;*/
}
.rank_left h4{
    width:15%;
    float:left;
    /*background-color: #0f0f0f;*/

}
.rank_left .rankline{
    width: 80%;
    float: left;
    height: 20px;
    /*background-color: #00b3ee;*/
    border-bottom: solid 1px #eee;
    margin-left: 5px;
}
.rank_right .hotrank {
    width: 100%;
    /*height: 40px;*/
    overflow: hidden;
}
.rank_right .user_info{
    width: 100%;
    /*height: 500px;*/
    /*background-color: #5cb85c;*/
    padding: 0px;
    border: none;
    color: #999;
    font-size: 13px;
    margin-top: 20px;

}
.rank_right h4{
    width:35%;
    float:left;
    /*background-color: #0f0f0f;*/
    margin-left:20px;
}
.rank_right .rankline{
    width:50%;
    float: left;
    height: 20px;
    /*background-color: #00b3ee;*/
    border-bottom: solid 1px #eee;
    /*margin-left: -5px;*/
}
.rank_right{
    width:28%;
    /*height: 600px;*/
    /*background-color: green;*/
    float: left;
    overflow: hidden;
    border-left: 1px solid #f0efef
}
.rank_right .user_info .img{
    float: left;
    margin: 0 12px 0px 0px;
}
.rank_right .user_info .user_name{
    /*white-space: nowrap;*/
    color: #333;
    font-size: 16px;
    margin-top: 5px;
    /*margin: 3px 0px 8px 0px;*/

}
.rank_right .user_info .user_content{
    margin-top: 10px;
}
.rank_right .user_info ul{
    margin-left: 30px;
}
.rank_right .user_info li{
    margin-bottom: 30px;
}

/*-------rank结束--------*/


/*-------share开始--------*/
.share{
    width:100%;
    /*height: 1000px;*/
    /*background-color: #5cb85c;*/
}
.share .share_head{
    width: 100%;
    /*height: 20px;*/
    /*background-color: yellow;*/
    overflow: hidden;
}
.share .share_title {
    float: left;
    margin-top: 20px;
}
.share .share_title .span1{
    color: #333;
    font-size: 18px;
}
.share .share_title .span2{
    color: #ccc;
    width: 3px;
    height: 22px;
    padding: 0px 10px 0 10px;
}
.share .share_line {
    float: left;
    width: 80%;
    height: 15px;
    margin-top: 20px;
    /*background-color: #00b3ee;*/
    border-bottom: solid 1px #eee;
    margin-left: 10px;
}

.share .share_content{
    width:100% ;
    /*height: 1000px;*/
    margin-top: 30px;
    /*background-color: #00b3ee;*/
}
.share_content .share_ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.share_content .share_ul li{
    width: 20%;
    height: auto;overflow: hidden;
    border-bottom: 1px solid #edebeb;
    /*margin-bottom: 30px;*/
    margin: 0 40px 30px 0;
    position: relative;
    /*float: left;*/

}
.share_content .share_ul .share_img {
    /*position: relative;*/
    display: block;
    width: 240px;
    height: 158px;
    overflow: hidden;
}
.share_content .share_ul .about h4{
    background-color: #fff;
    padding: 10px 0;
    position: relative;
    z-index: 2;
    top: 0px;
}
.share_content .share_ul .about h4{
    font-size: 16px;

}
.share_content .share_ul .about h4 a{
    color:#333
}
.share_content .share_ul .share_info {
    /*text-align: left;*/
    position: absolute;
    bottom: 0;
    left: -10px;
    z-index: 1;
    width: 100%;
    color: #a4a3a3;
    background: #fff;
    padding: 10px;
    /*padding-bottom: 10px;*/
}
.move1{
    transform: translateY(-30px);
    transition-duration:1s;
    transition-timing-function: cubic-bezier(0.25,0.1,0.25,1);
}
/*.share_content .share_ul .about h4:hover{*/
    /*top: -40px;*/
/*}*/




/*-------share结束--------*/

/*这是footer开始*/
footer {
    width: 100%;
    height: 150px;
    background: #4b4b4b;
    box-sizing: border-box;
}

.footer_none{
    display: none !important;
}

footer .container {
    height: 150px;
    /*background: gainsboro;*/
    box-sizing: border-box;
}

footer .container .row {
    box-sizing: border-box;
}

footer .container .row .col-lg-4 {
    height: 150px;
    background: #4b4b4b;
}

footer .container .row .col-lg-4:first-child {
    text-align: center;
    line-height: 150px;

}

footer .container .row .second_child {
    text-align: center;
    line-height: 150px;
    color: white;
    font-size: 1.1em;
}

footer .container .row .col-lg-4:last-child {
    text-align: center;
    line-height: 150px;
    color: white;
    font-size: 1.1em;
}

footer .container .row .col-lg-4:last-child img {
    width: 100px;
}


