*{
    border: none;
}
body,ul,li{
    margin: 0;
    padding: 0;
    list-style: none;

}
/*-------header------------*/
.navbar-inverse {
    background: #505050;
    border: none;
    border-radius: 0px;
}
.navbar-header .navbar-brand img{
    width: 120px;
    /*height: 100%;*/
    position: relative;
    top: -12px;
}
.search_img{
    position: relative;
    left: -30px;
}

#nav01 a{
    font-size: 1.1em;
    color: white;
}

#nav01 a:hover{
    color: #cbcbcb;
}

.nav_list{
    width: 100px;
    height: 80px;
    position: absolute;
    left: 100%;
    margin-left: -90px;
    top: 50px;
}
.nav_list div{
    width: 100%;
    height: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    background: #666666;
    display: block;
}
.hidden{
    display: none;
}
.nav_list a{
    text-decoration: none;
    color: #FFD9D8;
}
/*--------------------------------------------*/
.top{
    width: 100%;
    height: 50px;
    /*background-color: yellow;*/
    margin-top: 10px;
    border-bottom: solid 1px #f0f0f0;
    /*overflow: hidden;*/
    line-height: 50px;
}
.top a{
    color: #1abc9c;
    font-size: 14px;
}
.left{
    width: 30%;
    /*height: 500px;*/
    /*background-color: yellow;*/
    float: left;
}
.right{
    width: 70%;
    /*height: 1500px;*/
    /*background-color: green;*/
    float: left;
}

.left_icon{
    width: 190px;
    height: 190px;
    /*background: red;*/
    margin:auto;
    border: 5px solid #E4E4E4;
    border-radius: 50%;
    margin-top: 20px;
    box-sizing: border-box;
}
.left_icon img{
    border-radius: 50%;
    height: 180px;
    width: 180px;
}
.left .left_ul{
    position: relative;
    margin-top: 20px;
    margin-left:140px;

}
.left .left_ul{
    font-size: 14px;
}
.left .left_ul li{
    padding: 10px 5px;
}
.left .left_ul .ul_span{
    font-size: 16px;
    font-weight: bold;
    color: #999;
    /*padding: 40px 15px 20px 0;*/
    /*line-height: 30px;*/
    /*text-align: right;*/
}
.left .ul_a{
    width: 90px;
    height: 41px;
    background: #1abc9c;
    font-size: 16px;!important;
    margin-top: 10px;
    margin-left: 120px;
    border-radius: 5px;
    padding: 10px 8px;
    text-decoration: none;
    color: white;
}
.right h3{
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 25px;
    color: #333;
}
.right .desc{
    color: #666;
    font-size: 12px;
    line-height: 22px;
}
.right .recommend_area{
    /*width: 100%;*/
    /*height: 300px;*/
    margin-top: 30px;
}
.right .recommend_area span{
    font-size: 13px;
    color: #999;
}
.right .recommend_area span{
    font-size: 12px;
}
.right .recommend_area a{
    margin:0 30px;
    font-size: 12px;
    color: #1abc9c;
}

.share_list{
    width: 100%;
    /*height: 500px;*/
    /*background-color: yellow;*/
    margin-top: 50px;
    overflow: hidden;
}
.share_list .line{
    width: 86%;
    height: 15px;
    border-bottom: solid 1px #ececec;
    float: right;

}
.share_content{
    width: 100%;
    /*height: 500px;*/
    /*background-color: #00b3ee;*/
    margin-top: 20px;
}
.share_content .img{
    width: 53%;
    /*height: 500px;*/
    /*background: yellow;*/
    margin-left: 40px;
    float: left;
}
.share_content .img img{
    width: 368px;
    margin-top: 23px;
}

.share_content .share_info{
    width: 40%;
    /*height: 500px;*/
    /*background:red;*/
    float: left;
    border-left: solid 1px #f0f0f0;
    margin-top: 10px;
    padding: 0 20px;
}
.share_content .share_info span{
    font-size: 16px;
    color: #999;

}
.share_content .share_info li{
    margin: 20px 0;
}
/*这是footer开始*/
footer {
    width: 100%;
    height: 150px;
    background: #4b4b4b;
    box-sizing: border-box;
}

.footer_none{
    display: none !important;
}

footer .container {
    height: 150px;
    /*background: gainsboro;*/
    box-sizing: border-box;
}

footer .container .row {
    box-sizing: border-box;
}

footer .container .row .col-lg-4 {
    height: 150px;
    background: #4b4b4b;
}

footer .container .row .col-lg-4:first-child {
    text-align: center;
    line-height: 150px;

}

footer .container .row .second_child {
    text-align: center;
    line-height: 150px;
    color: white;
    font-size: 1.1em;
}

footer .container .row .col-lg-4:last-child {
    text-align: center;
    line-height: 150px;
    color: white;
    font-size: 1.1em;
}

footer .container .row .col-lg-4:last-child img {
    width: 100px;
}



